@import "reset.css";
@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Comfortaa';
  background: linear-gradient(#f39669, #262d5d);
  color: white;
  margin: 0;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.content {
  background: url("../img/tree_left.svg") repeat-y;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.tree_right {
  background: url("../img/tree_right.svg") repeat-y;
  background-position: right;
  overflow: hidden;
  position: relative;
  width: 100%;
  /* position: absolute;
  right: 0;
  width: 186.73px; */
}

/*.scenery {
  position: absolute;
  z-index: -1;
}*/

h1 {
  font-size: 55px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 28px;
}

.header-title {
  min-height: 600px;
  overflow: hidden;
  position: relative;
}

.first_header {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  animation-duration: 3s;
  animation-name: slidein;
  line-height: 60px;
}

.new_format {
  padding-top: 269px;
  z-index: 1;
  position: relative;
  overflow: hidden;
}

.complete_solitude {
  font-family: 'Montserrat';
  z-index: 1;
}

.second_header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
  line-height: 100px;
}

.bounce {
  animation-name: bounce;
  animation-timing-function: ease;
}

.party {
  /* padding-top: 642px; */
  /*-webkit-animation: blink1 3s linear infinite;
  animation: blink1 3s linear infinite;*/
  color: rgb(245,245,245);
  text-shadow: 0 -1px rgba(0,0,0,.1);
  -webkit-animation: pulsate 1.2s linear infinite;
  animation: pulsate 1.2s linear infinite;
}

.ogonek {
  opacity: 1;
}

.ogonek:hover {
  opacity: 0;
}

.third_header {
  font-family: 'Montserrat';
  padding-top: 714px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  line-height: 60px;
}

.time {
}

.place {
}

.program {
  padding-top: 714px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.program_1 {
  font-family: 'Montserrat';
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
  flex-direction: column;
}

.program_2 {
  padding-left: 50px;
  font-family: 'Montserrat';
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: left;
  flex-direction: column;
}

.fireflies {
  border-radius: 50%;
  filter: blur(15px);
  background: #DDCD4A;
  position: absolute;
  -webkit-animation: right 1s infinite ease-in-out;
   -moz-animation: right 1s infinite ease-in-out;
   animation: right 1s infinite ease-in-out;
}

.glowworm_big {
  opacity: 1;
  width: 166px;
  height: 166px;
}

.glowworm_big:hover {
  opacity: 0;
  -webkit-animation: swing 0.6s ease;
  animation: swing 0.6s ease;
   -webkit-animation-iteration-count: 1;
   animation-iteration-count: 1;
}

.glowworm_small {
  width: 75px;
  height: 75px;
}

.glowworm_small:hover {
  -webkit-animation: swing 0.6s ease;
  animation: swing 0.6s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.glowworm {
  left: 400px;
}

.glowworm_2 {
  left: 876px;
  top: 130px;
}

.glowworm_3 {
  left: 318px;
  top: 549px;
}

.glowworm_4 {
  left: 608px;
  top: 640px;
}

.glowworm_5 {
  left: 964px;
  top: 520px;
}

.glowworm_6 {
  left: 570px;
  top: 972px;
}

.glowworm_7 {
  left: 801px;
  top: 936px;
}

.glowworm_8 {
  left: 613px;
  top: 1420px;
}

.glowworm_9 {
  left: 846px;
  top: 1561px;
}

.glowworm_10 {
  left: 527px;
  top: 1800px;
}

.glowworm_11 {
  left: 318px;
  top: 2038px;
}

.glowworm_12 {
  left: 685px;
  top: 2121px;
}

.glowworm_13 {
  left: 335px;
  top: 2327px;
}

.glowworm_14 {
  left: 908px;
  top: 2367px;
}

.glowworm_15 {
  left: 300px;
  top: 2824px;
}

.glowworm_16 {
  left: 713px;
  top: 2956px;
}

.cricket {
  width: 155px;
  height: 63px;
  transform: translate(0, 5em) rotate(30deg);
  position: absolute;
  top: 20px;
  left: 100px;
  position: sticky;
  top: 0;
  min-height: 2em;
}

.cricket_2 {
  width: 207px;
  height: 84px;
  transform: rotate(-160deg);
  position: absolute;
  top: 500px;
  left: 1200px;
  /*position: sticky;
  bottom: 0;
  min-height: 2em;*/
  animation: move 15s 1 linear;
}

.logo {
  width: 206px;
  height: 85px;
  padding-top: 298px;
  padding-bottom: 200px;
  position: relative;
  /*top: 2840px;*/
  /*display: flex;
  justify-content: center;
  align-items: center;*/
}

.program {

}

.footer {

}


@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }

  75% {
    font-size: 300%;
    margin-left: 25%;
    width: 150%;
  }
}

@-webkit-keyframes swing {
  15% {
    -webkit-transform: translateX(9px);
    transform: translateX(9px);
  }
  30% {
    -webkit-transform: translateX(-9px);
    transform: translateX(-9px);
  }
  40% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }
  50% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }
  65% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes swing {
  15% {
    -webkit-transform: translateX(9px);
    transform: translateX(9px);
  }
  30% {
    -webkit-transform: translateX(-9px);
    transform: translateX(-9px);
  }
  40% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }
  50% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }
  65% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@-webkit-keyframes swing {
  15% {
    -webkit-transform: translateX(9px);
    transform: translateX(9px);
  }
  30% {
    -webkit-transform: translateX(-9px);
    transform: translateX(-9px);
  }
  40% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }
  50% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }
  65% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes swing {
  15% {
    -webkit-transform: translateX(9px);
    transform: translateX(9px);
  }
  30% {
    -webkit-transform: translateX(-9px);
    transform: translateX(-9px);
  }
  40% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }
  50% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }
  65% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@-webkit-keyframes blink1 {
  0% { color: #ffffff; }
  50% { color: rgba(163, 116, 88, 0); }
  100% { color: #DDCD4A; }
}
@keyframes blink1 {
  0% { color: #ffffff); }
  50% { color: rgba(163, 116, 88, 0); }
  100% { color: #DDCD4A; }
}

@-webkit-keyframes pulsate {
 50% { color: #fff; text-shadow: 0 -1px #DDCD4A, 0 0 5px #DDCD4A, 0 0 8px #DDCD4A; }
}
@keyframes pulsate {
 50% { color: #fff; text-shadow: 0 -1px #DDCD4A, 0 0 5px #DDCD4A, 0 0 8px #DDCD4A; }
}

@keyframes move {
  40% {
    left: 50%;
    bottom: 75%;
    animation-timing-function: ease-in;
    animation-fill-mode: backwards;
    }
  80% {
    left: 50%;
    bottom: -10em;
    }
}

/*@keyframes bounce {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-100px); }
  100% { transform: translateY(0); }
}*/

@-webkit-keyframes right {
    0% {
        -webkit-transform: translate(-15px);
    }
    50% {
        -webkit-transform: translate(15px);
    }
    100% {
        -webkit-transform: translate(-15px);
    }
}

@-webkit-keyframes left {
    0% {
        -webkit-transform: translate(15px);
    }
    50% {
        -webkit-transform: translate(-15px);
    }
    100% {
        -webkit-transform: translate(15px);
    }
}

@-moz-keyframes right {
    0% {
        -moz-transform: translate(-15px);
    }
    50% {
        -moz-transform: translate(15px);
    }
    100% {
        -moz-transform: translate(-15px);
    }
}

@-moz-keyframes left {
    0% {
        -moz-transform: translate(15px);
    }
    50% {
        -moz-transform: translate(-15px);
    }
    100% {
        -moz-transform: translate(15px);
    }
}

@keyframes right {
    0% {
        transform: translate(-15px);
    }
    50% {
        transform: translate(15px);
    }
    100% {
        transform: translate(-15px);
    }
}

@keyframes left {
    0% {
        transform: translate(15px);
    }
    50% {
        transform: translate(-15px);
    }
    100% {
        transform: translate(15px);
    }
}

/* @import "mediumscreen-768px.css";
@import "smallscreen-375px.css"; */

@media screen and (max-width: 768px) {

  .tree_right {
    background: none;
  }

  .content {
    background-position-y: -18px;
    background-repeat: no-repeat;
  }

  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 25px;
  }

  .header-title {
    min-height: 0;
  }

  .new_format {
    padding-top: 232px;
  }

  .first_header {
    line-height: 59px;
  }

  .second_header {
    padding-top: 436px;
  }

  .complete_solitude {
    padding-top: 0;
  }

  .party {
    padding-top: 0;
  }


  .third_header {
    padding-top: 232px;
    /* position: absolute;
    left: 195px;
    top: 500px; */
  }

  .program {
    padding-top: 436px;
    padding-left: 100px;
  }

  .cricket {
    width: 124px;
    height: 50px;
    position: absolute;
    top: 5px;
    left: 25px;
  }

  .cricket_2 {
    width: 166px;
    height: 67px;
  }

  .glowworm_big {
    display: none;
  }

  .glowworm_small {
    opacity: 1;
    width: 60px;
    height: 60px;
  }

  .glowworm {
    left: 300px;
  }

  .glowworm_2 {
    left: 776px;
    top: 30px;
  }

  .glowworm_3 {
    left: 218px;
    top: 449px;
  }

  .glowworm_4 {
    left: 508px;
    top: 553px;
  }

  .glowworm_5 {
    left: 864px;
    top: 420px;
  }

  .glowworm_6 {
    left: 470px;
    top: 872px;
  }

  .glowworm_7 {
    left: 601px;
    top: 736px;
  }

  .glowworm_8 {
    left: 513px;
    top: 1320px;
  }

  .glowworm_9 {
    left: 746px;
    top: 1461px;
  }

  .glowworm_10 {
    left: 427px;
    top: 1531px;
  }

  .glowworm_11 {
    left: 218px;
    top: 1938px;
  }

  .glowworm_12 {
    left: 785px;
    top: 2021px;
  }

  .glowworm_13 {
    left: 235px;
    top: 2227px;
  }

  .glowworm_14 {
    left: 808px;
    top: 2267px;
  }

  .glowworm_15 {
    left: 200px;
    top: 2724px;
  }

  .glowworm_16 {
    left: 613px;
    top: 2856px;
  }

  .ogonek {
    width: 231px;
    height: 58px;
  }

  .logo {
    width: 206px;
    height: 85px;
    position: absolute;
    padding-left: 350px;
  }

  /* .footer {
    width: 598px;
    height: 285px;
    position: absolute;
    left: 163px;
    top: 2787px;
  } */

}

@media screen and (max-width: 375px) {


  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 15px;
  }

  .first_header {
    padding-left: 75px;
    line-height: 39px;
  }

  .new_format {
    padding-top: 200px;
  }

  .second_header {
    padding-left: 65px;
    padding-top: 200px;
  }

  .ogonek {
    margin-top: -30px;
    width: 231px;
    height: 58px;
  }

  .party {
  }

  .third_header {
    padding-left: 75px;
  }

  .program {
    padding-top: 200px;
  }

  .cricket {
    width: 99px;
    height: 40px;
    position: absolute;
    top: 5px;
    left: 25px;
  }

  .cricket_2 {
    width: 133px;
    height: 54px;
  }

  .glowworm_big {
    display: none;
  }

  .glowworm_small {
    opacity: 1;
    width: 60px;
    height: 60px;
  }

  .glowworm {
    left: 120px;
    top: 35px;
  }

  .glowworm_2 {
  display: none;
  }

  .glowworm_3 {
    left: 264px;
    top: 80px;
  }

  .glowworm_4 {
    left: 245px;
    top: 425px;
  }

  .glowworm_5 {
    left: 120px;
    top: 320px;
  }

  .glowworm_6 {
    left: 270px;
    top: 672px;
  }

  .glowworm_7 {
    left: 401px;
    top: 536px;
  }

  .glowworm_8 {
    left: 313px;
    top: 1120px;
  }

  .glowworm_9 {
    left: 546px;
    top: 1261px;
  }

  .glowworm_10 {
    left: 227px;
    top: 1331px;
  }

  .glowworm_11 {
    left: 18px;
    top: 1738px;
  }

  .glowworm_12 {
    left: 585px;
    top: 1821px;
  }

  .glowworm_13 {
    left: 125px;
    top: 2027px;
  }

  .glowworm_14 {
    left: 608px;
    top: 2067px;
  }

  .glowworm_15 {
    display: none;
  }

  .glowworm_16 {
    left: 413px;
    top: 2656px;
  }

  .logo {
    width: 113px;
    height: 47px;
    padding-top: 200px;
  }

  /* .content {
    background-size: 95px 1220px;
    background-position-x: -18px;
  } */

  .footer {
    width: 598px;
    height: 285px;
    position: absolute;
    left: 163px;
    top: 2787px;
  }

}
