@media screen and (max-width: 375px) {


  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 15px;
  }

  .first_header {
  }

  .cricket {
    width: 99px;
    height: 40px;
    position: absolute;
    top: 5px;
    left: 25px;
  }

  .cricket_2 {
    width: 133px;
    height: 54px;
  }

  .glowworm_big {
    display: none;
  }

  .glowworm_small {
    opacity: 1;
    width: 60px;
    height: 60px;
  }

  .glowworm {
    left: 120px;
    top: 35px;
  }

  .glowworm_2 {
  display: none;
  }

  .glowworm_3 {
    left: 264px;
    top: 80px;
  }

  .glowworm_4 {
    left: 245px;
    top: 425px;
  }

  .glowworm_5 {
    left: 120px;
    top: 320px;
  }

  .glowworm_6 {
    left: 270px;
    top: 672px;
  }

  .glowworm_7 {
    left: 401px;
    top: 536px;
  }

  .glowworm_8 {
    left: 313px;
    top: 1120px;
  }

  .glowworm_9 {
    left: 546px;
    top: 1261px;
  }

  .glowworm_10 {
    left: 227px;
    top: 1331px;
  }

  .glowworm_11 {
    left: 18px;
    top: 1738px;
  }

  .glowworm_12 {
    left: 585px;
    top: 1821px;
  }

  .glowworm_13 {
    left: 125px;
    top: 2027px;
  }

  .glowworm_14 {
    left: 608px;
    top: 2067px;
  }

  .glowworm_15 {
    display: none;
  }

  .glowworm_16 {
    left: 413px;
    top: 2656px;
  }

  .ogonek {
    width: 231px;
    height: 58px;
  }

  .logo {
    width: 113px;
    height: 47px;

  }

  .content {
    background-size: 95px 1220px;
    background-position-x: -18px;
  }

  .footer {
    width: 598px;
    height: 285px;
    position: absolute;
    left: 163px;
    top: 2787px;
  }

}
