@import "reset.css";
@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Comfortaa';
  background: linear-gradient(#f39669, #262d5d);
  color: white;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.content {
  background-image: url("../img/tree_left.svg");
  background-repeat: repeat-y;
  background-position: left;
}

/*.scenery {
  position: absolute;
  z-index: -1;
}*/

h1 {
  font-size: 55px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 28px;
}

.first_header {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  animation-duration: 3s;
  animation-name: slidein;
}

.new_format {
  padding-top: 269px;
  z-index: 1;
  margin: auto;
}

.complete_solitude {
  font-family: 'Montserrat';
  z-index: 1;
}

.second_header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
}

.bounce {
  animation-name: bounce;
  animation-timing-function: ease;
}

.party {
  padding-top: 642px;
  /*-webkit-animation: blink1 3s linear infinite;
  animation: blink1 3s linear infinite;*/
  color: rgb(245,245,245);
  text-shadow: 0 -1px rgba(0,0,0,.1);
  -webkit-animation: pulsate 1.2s linear infinite;
  animation: pulsate 1.2s linear infinite;
}

.ogonek {
  /*opacity: 1;*/
}

.ogonek:hover {
  /*opacity: 0;*/
}

.third_header {
  font-family: 'Montserrat';
  padding-top: 714px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.time {
}

.place {
}

.program {
  font-family: 'Montserrat';
  padding-top: 714px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.fireflies {
  border-radius: 50%;
  filter: blur(15px);
  background: #DDCD4A;
  position: absolute;
}

.glowworm_big {
  width: 166px;
  height: 166px;

}

.glowworm_big:hover {
  background:#f39669;
  -webkit-animation: swing 0.6s ease;
  animation: swing 0.6s ease;
   -webkit-animation-iteration-count: 1;
   animation-iteration-count: 1;
}

.glowworm_small {
  width: 75px;
  height: 75px;
}

.glowworm_small:hover {
  -webkit-animation: swing 0.6s ease;
  animation: swing 0.6s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.glowworm {
  left: 400px;
}

.glowworm_2 {
  left: 876px;
  top: 130px;
}

.glowworm_3 {
  left: 318px;
  top: 549px;
}

.glowworm_4 {
  left: 608px;
  top: 653px;
}

.glowworm_5 {
  left: 964px;
  top: 520px;
}

.glowworm_6 {
  left: 570px;
  top: 972px;
}

.glowworm_7 {
  left: 801px;
  top: 836px;
}

.glowworm_8 {
  left: 613px;
  top: 1420px;
}

.glowworm_9 {
  left: 846px;
  top: 1561px;
}

.glowworm_10 {
  left: 527px;
  top: 1631px;
}

.glowworm_11 {
  left: 318px;
  top: 2038px;
}

.glowworm_12 {
  left: 685px;
  top: 2121px;
}

.glowworm_13 {
  left: 335px;
  top: 2327px;
}

.glowworm_14 {
  left: 908px;
  top: 2367px;
}

.glowworm_15 {
  left: 300px;
  top: 2824px;
}

.glowworm_16 {
  left: 713px;
  top: 2956px;
}

.cricket {
  width: 155px;
  height: 63px;
  transform: translate(0, 5em) rotate(30deg);
  position: absolute;
  top: 20px;
  left: 100px;
  position: sticky;
  top: 0;
  min-height: 2em;
}

.cricket_2 {
  width: 207px;
  height: 84px;
  transform: rotate(-160deg);
  position: absolute;
  top: 500px;
  left: 1200px;
  position: sticky;
  bottom: 0;
  min-height: 2em;
}

.logo {
  width: 206px;
  height: 85px;
  padding-top: 298px;
  position: relative;
  left: 583px;
  /*top: 2840px;*/
  /*display: flex;
  justify-content: center;
  align-items: center;*/
}


@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }

  75% {
    font-size: 300%;
    margin-left: 25%;
    width: 150%;
  }
}

75% {
  font-size: 300%;
  margin-left: 25%;
  width: 150%;
}

@-webkit-keyframes swing {
  15% {
    -webkit-transform: translateX(9px);
    transform: translateX(9px);
  }
  30% {
    -webkit-transform: translateX(-9px);
    transform: translateX(-9px);
  }
  40% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }
  50% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }
  65% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes swing {
  15% {
    -webkit-transform: translateX(9px);
    transform: translateX(9px);
  }
  30% {
    -webkit-transform: translateX(-9px);
    transform: translateX(-9px);
  }
  40% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }
  50% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }
  65% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@-webkit-keyframes swing {
  15% {
    -webkit-transform: translateX(9px);
    transform: translateX(9px);
  }
  30% {
    -webkit-transform: translateX(-9px);
    transform: translateX(-9px);
  }
  40% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }
  50% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }
  65% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes swing {
  15% {
    -webkit-transform: translateX(9px);
    transform: translateX(9px);
  }
  30% {
    -webkit-transform: translateX(-9px);
    transform: translateX(-9px);
  }
  40% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }
  50% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }
  65% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

/*@-webkit-keyframes blink1 {
  0% { color: #ffffff; }
  50% { color: rgba(163, 116, 88, 0); }
  100% { color: #DDCD4A; }
}
@keyframes blink1 {
  0% { color: #ffffff); }
  50% { color: rgba(163, 116, 88, 0); }
  100% { color: #DDCD4A; }
}*/

@-webkit-keyframes pulsate {
 50% { color: #fff; text-shadow: 0 -1px #DDCD4A, 0 0 5px #DDCD4A, 0 0 8px #DDCD4A; }
}
@keyframes pulsate {
 50% { color: #fff; text-shadow: 0 -1px #DDCD4A, 0 0 5px #DDCD4A, 0 0 8px #DDCD4A; }
}

/*@keyframes bounce {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-100px); }
  100% { transform: translateY(0); }
}*/

/*@media screen and (min-width: 375px) and (max-width: 768px) {
  body {

  }

  h1 {
    font-size: 25px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 15px;
  }

  .logo {
    width: 113;
    height: 47px;

  }

  .content {
    background-size: 95px 1220px;
    background-repeat: repeat-y;
  }

}*/
